<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div>
      <div>
        <app-login [authData]="authData" style="float: right"></app-login>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


<div class="f-app-container">
  <div class="f-content">
      <div *ngIf="userUID">
          <app-file-uploader [userName]="userName" [userUID]="userUID"></app-file-uploader>
        </div>
        <app-image-galary [userUID]="userUID"></app-image-galary>
  </div>
  <div class="f-footer">
      <img [src]="'https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=' + baseURL" alt="">
      <p>Scan to open app!</p>
  </div>
</div>
